body{
    background-color: #F0F0F0;
}

.container {
    display: flex;       
    justify-content: center;
    align-items: center;
    gap: 150px;   
    height: 100vh;                      
}

.text { 
    text-align: center;

}

.img {
    text-align: center;
    
}

img {
    width: 500px;
    height: auto;
}

button{
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
    font-style: times new roman;
}

br{
    line-height: 1px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

#freepik{
    font-style: italic;

}